<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>

<body>

 <table border = 1>
        <tr>
            <th>Title</th>
            <th>Desc</th>

            <th>Sentiment</th>
            <th>Keyword</th>
            <th>Source</th>
            <th>Published At</th>
        </tr>
         {% for tweet in news_list %}
        <tr>
            <td><a href="{{ tweet.url }}">{{ tweet.title }}</a></td>
            <td>{{ tweet.desc }}</td>

            <td>{{ tweet.p_desc }}</td>
            <td>{{ tweet.keyword }}</td>
            <td>{{ tweet.source }}</td>
            <td>{{ tweet.news_date }}</td>



        </tr>
        {% endfor %}

      </table>


</body>
</html>